.Sidebar {
    text-align: center;
    align-content: center;
    align-items: center;
}

.App-sidebar-name {
    color: #FFFFFF;
    font-size: 50px;
    margin: 0 5px 0 5px;
}

.Sidebar-photo {
    max-width: 50%;
    max-height: 20%;
}

/* .Sidebar-photo:hover {
    -webkit-filter: brightness(-50%);
} */
.Sidebar-tagline {
    font-size: 10px;
    color: white;
}

.App-sidebar-nav-div {
    width: 100%;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
}

.App-nav-link {
    color: white;
    text-decoration: none;
}

.App-nav-link:hover {
    color: grey;
}

.sidebar-icon {
    padding: 2px;
}

.Sidebar-copyright{
    color: #ffffff;
    text-transform: none;
    font-size: 10px;
    /* position: absolute; */
    bottom: 0vh;
}

/* .App-sidebar-nav-div-icon {
    max-width: 30px;
} */
