.Sidebar {
    text-align: center;
    align-content: center;
    align-items: center;
}


.App-sidebar {
    left: 0px;
    width: 20%;
    min-height: 100vh;
    background-color: #222;
    padding: 5px;
}

.App-sidebar-name {
    color: #FFFFFF;
    font-size: 50px;
    margin: 0 5px 0 5px;
}

.Sidebar-photo {
    max-width: 50%;
    max-height: 20%;
}

.App-sidebar-nav-div {
    width: 100%;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
}

.App-nav-link {
    color: white;
    text-decoration: none;
}

.App-nav-link:hover {
    color: grey;
}

.sidebar-icon {
    max-width: 30px;
    padding: 2px;
}
