.Contact {
    margin: 10px;
}

h2.Contact-text {
    color: black;
    font-size: 20px;
    max-width: 500px;
}

/* h1.Home-main-text {
    font-size: 30px;
    max-width: 650px;
} */

.Contact-email {
    text-decoration: none;
    color: black;
}

.Contact-email:hover {
    text-decoration: none;
    color: grey;
}
