.Home {
    margin: 20px;
}

h1.Home-main-text {
    font-size: 30px;
    line-height: 40px;
    max-width: 800px;
}

a.Home-link {
    color: #8c8c8c;
    text-decoration: none;
}

a.Home-link:hover {
    color: #c9c9c9;
    text-decoration: none;
}

.Home-email-icon {
    max-height: 30px;
    padding: 0px;
    margin: 0px;
}

i.Home-italic {
    /* color: #222; */
}

.Home-main-italic{
    color: #c9c9c9;
}
