/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900); */

* {
    text-align: center;
}

.App {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100%;
    position: relative;
}

.App-content {
    width: 100%;
    /* position:fixed; */
    overflow: scroll;
}


img.hover {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    /* background-color: #ffffff; */
}

img.hover:hover {
	opacity: .7;
}
