.App {
    font-family: 'Lato', sans-serif;
    display: flex;
}

.App-nav-div {
    /* width: 33%; */
    /* display: flex; */
}

.App-footer {
    position: fixed;
    background-color: #222;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-footer-link {
    color: white;
}

h1, h2, h3 {
    padding: 0;
    /* font-family: arial; */
}

p {
    font-size: 12px;
}

b {
    color: #222;
}

i {
    color: #606060;
}

u {
    background-color: #222;
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

Link {
    text-decoration: none;
}

.App-content {
    width: 100%;
}

/* MOBILE */
@media screen and (max-width:768px){
    .App {
        display: inline-block;
        text-align: center;
    }
    .App-sidebar {
        width: 100%;
        min-height: 100px;
        max-height: 200px;
    }
    .App-content {
        width: 100%;
    }
    .Sidebar-photo {
        height: 60px;
    }
    .App-sidebar-name {
        color: #FFFFFF;
        font-size: 30px;
        margin: 0 5px 0 5px;
    }
    .App-sidebar-nav {
        display: flex;
    }
}
