.About {
    margin: 10px;
    max-width: 800px;
}

.About-link {
    color: black;
}

i.About-italic {
    color: white;
}

/* .About-tagline:hover {
    color: #8e8e8e;
} */

.About-bullets {
    line-height: 21px;
}

.About-download {
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

.About-download:hover {
    background-color: #4c4c4c;
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.About-download-link {
    color: white;
}

/*

.App-sidebar {
    background-image: url('/bg-img/peru.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: 50% 0%;
} */
